
.productDisplay {
    width: 100%;
    margin: 10px auto;
    margin-top: 150px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productPageTitle {
    margin-bottom: 20px;
    text-align: center;
}

.allproductsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}