.cartContainer {
  position: fixed;
  top: 0;
  right: 0;
  width: 400px;
  height: 100%;
  background-color: #ffffff;
  box-shadow: -2px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  z-index: 1000;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.closeButton svg {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.closeButton svg:hover {
  transform: scale(1.2);
}

.cartItemsQty {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.cartItemsQty .cartIcon {
  margin-right: 10px;
}

.cartItemsSection {
  margin-top: -40px;
}

.cartItemCard {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cartProductImage {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.cartProductImage img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.cartProductDetails {
  margin-top: 20px;
}

.cartItemPrice {
  margin-bottom: 8px;
}

.cartTotalPrice {
  font-weight: bold;
}

.cartItemQuantity {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.incrementButton,
.decrementButton,
.removeCartItem {
  display: flex;
  align-items: center;
  margin-right: 8px;
  cursor: pointer;
}

.incrementButton:hover,
.decrementButton:hover,
.removeCartItem button:hover {
  color: #007bff;
}

.incrementButton,
.decrementButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f8f8f8;
  cursor: pointer;
  transition: background-color 0.3s;
}

.incrementButton:hover,
.decrementButton:hover {
  background-color: #007bff;
  color: #ffffff;
}

.itemQty {
  font-weight: bold;
  font-size: 16px;
  margin-left: 2px;
  margin-right: 9px;
  align-content: center;
}

.removeCartItem button {
  background-color: #e64848;
  color: #ffffff;
  border: none;
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.removeCartItem button:hover {
  background-color: #cc0000;
}

.checkout {
  text-align: center;
  margin-top: 20px;
}

.checkout button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.checkout button:hover {
  background-color: #0056b3;
}

.cartButtons {
  display: flex;
  flex-direction: row;
}
