.addToCart {
  margin-left: 50px;
  display: inline-block;
  cursor: pointer;
  transition: transform 0.3s ease-in-out, background-color 0.2s ease-in-out;
  padding: 10px;
  border-radius: 5px;
}

.addToCart:hover {
  transform: scale(1.2);
}

.addToCart:hover svg {
  color: #007bff;
}

.removeItem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.removeItem button {
  background-color: #e64848;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5%;
}

.removeItem button:hover {
  background-color: #cc0000;
}
