.productCardContainer {
  position: relative;
  width: 250px;
  max-width: 300px;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

.productImage {
  width: 100%;
  height: 150px;
  overflow: hidden;
}

.productImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.productImage:hover img {
  transform: scale(1.1);
}

.shopName a,
.productName h4,
.productPrice h4 {
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

.productName {
  margin-top: -10px;
}

.productPrice h4 {
  font-size: 1rem;
  margin-bottom: 5px;
}

.iconsSection {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.favIcon,
.cartIcon,
.viewIcon {
  bottom: 8px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.favIcon:hover,
.cartIcon:hover,
.viewIcon:hover {
  transform: scale(1.1);
}

.favIcon:active,
.cartIcon:active,
.viewIcon:active {
  transform: scale(0.9);
}
