.dashboardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #2563eb;
    color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dashboardLogo h2 {
    margin-left: 15px;
    font-size: 24px;
    color: #fff;
}

.dashboardLogo a {
    text-decoration: none;
}

.dashboardLogo:hover h2 {
    color: #124d96;
}

.dashboardNav {
    display: flex;
    justify-content:right;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.dashboardNavItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}

.dashboardNavItem h4 {
    margin-left: 15px;
}

.dashboardNavItem span {
    margin-top: 5px;
    font-size: 14px;
}

.dashboardNavItem:hover {
    color: #cbd5e1;
}

.dashboardNavItem svg {
    transition: color 0.3s;
    color: #cbd5e1;
}

.dashboardNavItem:hover svg {
    color: #124d96;
}

.dashboardAvatarIcon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: -5px;
  }