.createProductformContainer {
    padding: 10px;
    max-width: 600px;
    margin-left: 300px;
    box-sizing: border-box;
  }
  
  .formTitle h4 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  .inputFields {
    margin-bottom: 15px;
  }
  
  .inputFields label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
    text-align: left;
  }
  
  .required-asterisk {
    color: red;
  }
  
  .inputFields input[type="text"],
  .inputFields input[type="number"],
  .inputFields textarea,
  .inputFields select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
  }
  
  .inputFields textarea {
    resize: vertical;
  }
  
  .inputFields select {
    appearance: none;
  }
  
  .hidden {
    display: none;
  }
  
  .inputFields .uploadIcon {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #007bff;
    margin-top: 10px;
  }
  
  .inputFields .uploadIcon:hover {
    color: #0056b3;
  }
  
  .inputFields img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 10px;
    margin-top: 10px;
  }
  
  .inputFields img:last-child {
    margin-right: 0;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  .submitButton {
    background-color: #1ba184;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    align-self: center;
    width: 100%;
    max-width: 300px;
  }
  
  .submitButton:hover {
    background-color: #1dc4a0;
  }
  
  @media (max-width: 768px) {
    .submitButton {
      width: 100%;  
      max-width: none; 
    }
  }
  
  @media (max-width: 480px) {
    .submitButton {
      padding: 15px;  
      font-size: 18px;  
    }
  }