.Login-Page {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #f7f7f7; 
    border-radius: 2vmin;
}

.Login-Form{
    background-color: white;
    border-radius: 2vmin;
    margin: 10px;
    padding:20px;
}

.email-input{
    display: flex;
    justify-content: space-evenly;
    
    
}

.password-input {
    display: flex;
    justify-content: space-evenly;
}

.sign-up-link{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 5px;
}