.ShopHomePage {
    display: flex;
    height: 100vh;
  }
  
  .shopInfoSection {
    width: 33.333%;
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
    margin: 15px;
   height: 90vh;
  }
  
  .shopProfileSection {
    width: 66.666%;
    padding: 20px;
    box-sizing: border-box;
  }